@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin hide-scrollbar {
  -webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

@mixin objectFit($value) {
  -o-object-fit: $value;
  object-fit: $value;
}

@mixin maxContent {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@mixin columnGap($value) {
  -moz-column-gap: $value;
  column-gap: $value;
}

@mixin padding680 {
  padding: 7.5rem 0;
}

@mixin padding480 {
  padding: 5rem 0;
}
