// colors
$light-gray: #f2f2f2;
$gray: #e0e0e0;

$tilt-purple: #604be8;
$tilt-light-purple: #f3f7ff;
$tilt-orange: #f19857;
$tilt-light-orange: #fde1cd;
$tilt-grey: #969db6;
$tilt-light-grey: #c3cde4;
// $tilt-lighter-grey: #c3cde4;

$success: #06d6a0;
$warning: #ff9f04;
$error: #ff595e;

$font-color-primary: #302d3d;

$padding-680: 5rem;
$padding-480: 1.25rem;

$not-interested: #969db6;
$interested: #6187e9;
$applied: #604be8;
$accepted: #34ddb2;
$waitlisted: #ff9f04;
$not-accepted: #ff595e;
